# Android Build
/android/.gradle
/android/local.properties
/android/.classpath
/android/.project
/android/.settings/
/android/build/
/android/captures/
/android/.idea
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/local.properties
**/android/**/key.properties

# iOS Build
/ios/.symlinks/
/ios/.generated/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/GeneratedPluginRegistrant.m
/ios/Flutter/GeneratedPluginRegistrant.swift
/ios/Flutter/ephemeral/
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
